html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-top: auto;
}

/* Стили для секций */
.welcome {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #555;
}

.cards {
    margin-bottom: 30px;
}

.cards h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Стили для карточек */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-bottom: 10px;
    color: #4CAF50;
}

.card p {
    font-size: 14px;
    color: #555;
}

.header-buttons .button {
    padding: 12px 18px;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    background-color: white;
    border: 3px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
    margin-left: 10px;
    text-decoration: none;
}

.header-buttons .button:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.header-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.green-text {
    color: green;
    font-weight: bold;
}